<main>
    <head>
        <body>
           <section>
            <img src="/src/assets/svg/logo01.svg" alt="logo">
            <h2></h2>
            <button></button>
            <div>
                <span>or</span>
            </div>
            <button></button>
            <section class="form-section">
           </section>
           <section class="main-section">
               <h1>You Should, NovoIr!</h1>
               <img src="/src/assets/svg/main-illustration.svg" alt="">
           </section>
        </body>
    </head>
</main>